@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#search {
    display: flex;
    position: relative;
    border-width: 1px;
    min-width: 100px;
}

#search-bar {
    height: 45px;
    width: 582px;
    border-radius: 24px;
    opacity: 10%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

#search-bar:hover {
    box-shadow: 0px 1px 3px 2px black;
}

#search-bar:focus {
    outline: none;
}

#google-logo {
    display: flex;    
    margin-right: auto;
    margin-left: auto;
    margin-top: 190px;
}

#search-icon {
    position: absolute;
    font-size: 22px;
    opacity: 32%;
    margin-left: 675px;
    margin-top: 42px;
}

#mic-icon {
    position: absolute;
    font-size: 22px;
    margin-left: -700px;
    margin-top: 42px;
    color: rgb(66,133,244)
}

#navbar-one {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#navbar-two {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-top: -34px;
    margin-left: 1680px;
}

li a{
    color: rgb(63, 63, 63);
    font-family: Roboto;
    font-size: 13px;
    padding: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#apps-icon {
    opacity: 75%;
    margin-top: -2px;
}

#my-logo {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    margin-top: -5px;
}

body {
    display: flex;
    flex-direction: column;
}

#cool-buttons {
    display: flex;
    margin-top: 30px;
    justify-content: center;
}

#google-search {
    width: 125px;
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 4px;
    font-family: arial;
    font-size: 14px;
    color:#5F6368;
    cursor: pointer;
    margin-right: 8px;

}

#feeling-lucky {
    width: 140px;
    height: 36px;
    background-color: #f2f2f2;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 4px;
    font-family: arial;
    font-size: 14px;
    color:#5F6368;
    cursor: pointer;
    margin-left: 8px;
}

#google-search:hover {
    border: 1px solid;
    color:#202020;
}

#feeling-lucky:hover {
    border: 1px solid;
    color:#202020;
}